
/* Tagify styles 
Author: Alicia Liu
*/

.tagify-container {
    width: 300px;
    height: 100px;
    border: 1px solid #CCC;
    background-color: #FFF;
    border-radius: 2px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    overflow: auto;
}
.tagify-container > span {