
/* Tagify Demo styles 
Author: Alicia Liu
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body, select, input, textarea {
  color: #444;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
div.col {
  width: 400px;
  float: left;
  padding: 0 10px;
  margin: 0 10px;
}
div.col.first {
  border-right: 5px dotted #38CDF1;
}
h1, h2 {
  color: #38CDF1;
  text-align: center;
  font-weight: 500;
  margin: 10px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed #38CDF1;
  color: #38CDF1;
}
p {

}
pre {
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
  font-family: "Courier New", Courier;
}
.clear {
  clear: both;